.enterPage {
  position: relative;
  height: 100vh;
  
}

.content {
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: #6e6d6db4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.navbar {
  display: flex;
  padding: 1rem 1rem; 
  background-color: #ffffff; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 11;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.searchBox {
  display: flex;
  width: 100vh;
  height: 6vh;
  border-radius: 50px;
  border-color: rgb(29, 192, 65);
  border-width: 3PX;
  box-shadow: #000000;
}

.button {
    background-color: #1DC041;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  
}

.popularTopic{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.carouselSlide{
  display: flex;
  justify-content: center;

}

.popularCarouselCard{
  width: 25%;
  height: 50%;
  padding: 1rem;
}

.carouselSection{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}