.navbar {
    display: flex;
    padding: 1rem 1rem; 
    background-color: #ffffff; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 11;
  }
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  }
.searchBox{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    
}

.searchBar {
    margin-bottom: 2rem;
    display: flex;
  width: 75vh;
  height: 5vh;
  border-radius: 50px;
  border-color: rgb(29, 192, 65);
  border-width: 3PX;
  box-shadow: #000000;
}

.button {
    width: 5rem;
    height:auto;
    background-color: #1DC041;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  
}

.body{
    display: flex;
    
}

.sidebar{
    position: static;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-top: 2rem;
    margin-left: 2rem;
    width: 20%;
    height: fit-content;
    background-color: #0ee24394;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.contentBody{
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem;
}